<%#= react_component("CatIndex", { cats: @cats, sectors: @sectors, currentSector: @initial_sector }) %>
<a href="/" class="container">Back</a>
<%# <div class="form-group container mt-2">
  <label for="exampleFormControlSelect1">View Cats for Estate:</label>
  <select class="form-control" id="exampleFormControlSelect1">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div> %>
<ul className="list-group container" style="padding-inline-start: 0px">
  <% @cats.each do |cat| %>
  <li class = "list-group-item">
    <a href=<%= "/cats/#{cat.id}" %>>
         <div class = "row">
            <img src=<%=cat.imageUrl%> style="height:80px; width:80px, object-fit:cover"/>
            <div class="col"><h5 className="pl-5 mt-2"><%= cat.name %></h5></div>
         </div>
        </a>
        </li>
  <% end %>
</ul>
