<a href="/" class="container">< Back</a>

<div class = "container d-flex flex-column justify-content-center text-center">
<div><h4>Add New Cat</h4></div>

<%= render 'form', cat: @cat %>
<%#= link_to 'Back', root_path %>

</div>
